.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
  }
  
  .custom-table th, .custom-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
  }
  
  .custom-table th {
    background-color: #f4f4f4;
  }
  
  .small-profile-img {
    width: 10%;
    height:10%;
    border-radius: 50%;
  }

